<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The place where your content is located. NOTE: do not specify the content directory -->
    <!--add key="ContentPath" value="C:\Program Files (x86)\Kerberos Productions\The Pit\"/-->
    <add key="ContentPath" value="C:\Program Files (x86)\Steam\SteamApps\common\The Pit" />
    

    <!-- where are we keeping the mod content - must be relatve to the executable -->
    <add key="ModContentPath" value="__Assets"/>
    
    <!-- a key to use in our assets to be replaced by the above content path -->
    <add key="ModContentPrefix" value="__Assets"/>

    <!-- where should we dump assets to -->
    <add key="AssetDumpPath" value="..\..\..\..\assets"/>
  </appSettings>
</configuration>