<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- change to the location of your *original* (or copy of the original) ThePit.exe file -->
    <add key="ThePitExePath" value="..\..\..\original\ThePit.exe"/>
    
    <!-- this shouldn't need to change unless you start hacking on the mod itself (this is where the new library is referenced from our pit mod) -->
    <add key="NewExePath" value="..\..\..\lib\ThePit.exe"/>
  </appSettings>
</configuration>